<ion-view title="{{pageTitle}}">

  <ion-content style="padding:5px;">

	<p>Today's date : {{FromDate}}</p>

	<!-- <chart value="myChart"></chart> -->

	<div class="card" >
			<div class="item item-divider">
				Select your current budget?
			</div>

		  <label class="item item-input item-stacked-label item-select" style="height:50px">
		    <!-- <div class="input-label"></div> -->
		    <select ng-model="data.selectedBudget" ng-change="onBudgetSelected()">
		      <option ng-repeat="budget in budgetList" value="{{budget.budgetTitle}}">{{budget.budgetTitle}}</option>
		    </select>
		  </label>


	</div>

    <button class="button button-full button-outline button-calm">
      <b>{{onFirstAmountEntered()}}/{{currentBudget.budgetAmount}}</b> Remaining In Your Budget
    </button>

    <div class="row">
      <div class="col col-50" style="padding-left: 10%">
        Category
      </div>
      <div class="col col-50" style="padding-left: 10%">
        Amount
      </div>
    </div>

     <div id="rootDiv" class="">
            <add-transactions-div></add-transactions-div>
      </div>

	<button class="button button-block button-balanced" ng-click="onTransactionsSubmitted()">Submit Transactions</button>








</ion-content>
</ion-view>
