<div id="categoryRow">
      <div class="row">
          <div class="col col-67">
                <label class="item item-input">
                  <input type="text" id="categoryInput" ng-focus="redirect($event)"  placeholder="Category" >
                </label>
          </div>

          <div class="col col col-20">
                <label class="item item-input">
                  <input type="number" id="amountInput" ng-focus="redirect($event)" ng-blur="onFirstAmountEntered()" placeholder="$">
                </label>
          </div>
          
          <a class="button button-icon icon ion-plus-circled" id="addRowButton" ng-click="click()"></a>
          <!-- <div class="col" add-div-directive></div>  -->
      </div>
</div>